* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link {
  color: #000;
}

header {
  padding: 0 25px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.navbar {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 5px;
}
.navbar .logo p {
  font-size: 25px;
  font-weight: 600;
  color: #6e7891;
}

/* Navbar */
.navbar-nav {
  height: 65px;
  display: flex;
  align-items: center;
}
.navbar .navbar-nav .nav-item {
  height: 65px;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar .navbar-nav .nav-item .nav-link {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  color: #3d4355;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #eff2f6;
}
.overlay {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff3e2;
}
.overlay .nav-link i {
  color: #e7831f;
}

/* DropDown */
.navbar .navbar-nav .nav-item .dropdown {
  width: 250px;
  border-radius: 5px;
  padding: 10px 0 0;
  border: 1px solid #d7dbe3;
  background-color: #fff;
  position: absolute;
  top: 76px;
  display: none;
}
.dropdown::before {
  content: "";
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-color: #d7dbe3;
  border-style: solid none none solid;
  background-color: #fff;
  position: absolute;
  top: -11px;
  left: 20px;
  transform: rotate(45deg);
}
.navbar .navbar-nav .nav-item:hover .dropdown {
  display: block;
}
.dropdown .dropdown-nav {
  flex-direction: column;
}
.dropdown .dropdown-nav .dropdown-item .nav-link {
  padding: 12px 20px;
  border-radius: 0;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Sub-DropDown */
.dropdown .dropdown-nav .dropdown-item {
  position: relative;
}
.dropdown .dropdown-nav .dropdown-item .sub-dropdown {
  width: 250px;
  border-radius: 5px;
  border: 1px solid #d7dbe3;
  background-color: #fff;
  position: absolute;
  left: 100%;
  top: 0px;
  display: none;
}
.dropdown .dropdown-nav .dropdown-item:hover .sub-dropdown {
  display: block;
}
